
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #fdf1e8;

	a {
		text-decoration: none !important;
	}
}

#footer-main {
	padding: 4rem 0 1rem;
}

#copyrights {
	font-size: 1.125rem;
	color: #5a5a5a;
	margin-top: 1.5rem;
}
